%div{ class: 'banner', id: home1 }
  %div.container
    %div{ class: 'logo animated wow zoomIn', 'data-wow-delay': '.5s'}
      %h1
        %a{ href: '/'}
          %span
          %p{ class: 'top-title' }Karolina i Maciej
          %br/
          %br/
          biorą ślub
          %br/
          %br/
          2 września 2017r.
<!-- //banner -->
<!-- banner-bottom -->
%div{ class: 'navigation' }
  %nav{ class: 'navbar navbar-default' }
    <!-- Brand and toggle get grouped for better mobile display -->
    %div{ class: 'navbar-header' }
      %button{ type: 'button', class: 'navbar-toogle collapsed',
               'data-toggle': 'collapse', 'data-target': '#bs-example-navbar-collapse-1' }
        %span.sr-only
          Toogle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    <!-- Collect the nav links, forms, and other content for toggling -->
    %div{ class: 'collapse navbar-collapse nav-wil', id: 'bs-example-navbar-collapse-1' }
      %nav{ class: 'link-effect-14', id: 'link-effect-14' }
        %ul{ class: 'nav navbar-nav' }
          %li{ class: 'active' }
            %a{ href: '/' }
              %span
                Strona główna
          %li
            %a{ href: '#counter_heading', class: 'scroll' }
              %span
                Rsvp
          %li
            %a{ href: '#events', class: 'scroll' }
              %span
                Aktualności
          %li
            %a{ href: '#about-us', class: 'scroll' }
              %span
                O nas
          %li
            %a{ href: '#map-title', class: 'scroll' }
              %span
                Mapka
          %li
            %a{ href: '#footer', class: 'scroll' }
              %span
                Informacje
    <!-- /.navbar-collapse -->
%div{ class: 'banner-bottom', id: 'about' }
  %div.container
    %h3{ class: 'animated wow zoomIn', 'data-wow-delay': '.5s', id: 'counter_heading' }
      %span
        Widzimy się za
    %div{ id: 'counter' }
  <!-- services-bottom -->
  %div{ class: 'services-bottom' }
    %div{ class: 'container', id: 'services-bottom' }
      %p{ class: 'animated wow slideInLeft', 'data-wow-delay': '.5s', id: 'rsvp' }
        2 września to będzie dla nas niezwykle ważny dzień.<br>
        Bardzo liczymy na Waszą obecność.<br>
        Prosimy o odpowiedzi na zaproszenia<br>
        Karolina (668163402) Maciej (723775186)<br>
        lub<br>
        wesele@panasiewicz.pl
      %p{ class: 'animated wow slideInUp', 'data-wow-delay': '.5s' }
        Karolina & Maciej
  <!-- //services-bottom -->
  <!-- news -->
  %div{ class: 'news', id: 'events' }
    %div.container
      %h3{ class: 'animated wow zoomIn', 'data-wow-delay': '.5s' }
        %span
          Aktualności
      %div{ class: 'news-grids' }
        %div{ class: 'news-grid-left' }
          %div{ class: 'bootstrap-pop-up' }
            <button type="button" class="btn btn-primary btn-primary-news btn-lg" data-toggle="modal" data-target="#myModal">				  Witamy na naszej weselnej stronie. To dopiero początek, zamierzamy ją na bieżąco uzupełniać o nowe informacje.				</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Auguste Bekannte</h4>
                  </div>
                  <div class="modal-body">							"Nie wystarczy pokochać, trzeba jeszcze umieć wziąć tę miłość w ręce i przenieść ją przez całe życie."					  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bootstrap-pop-up1">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#galczynski">
              <%= image_tag "photos/IMG_5133.JPG", class: "img-responsive" %>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="galczynski" tabindex="-1" role="dialog" aria-labelledby="galczynski">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="galczynski">Konstanty Ildefons Gałczyński</h4>
                  </div>
                  <div class="modal-body">							Na wspólną radość,<br>							na chleb powszedni,<br>							na poranne otarcie oczu<br>							w blasku słonecznym,<br>							na nieustające sobą zdziwienie,<br>							na gniew, krzywdę i przebaczenie<br>							wybieram Ciebie.					  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">
          </div>
          <div class="bootstrap-pop-up">
            <h4>Rozdajemy zaproszenia</h4>
            <p>Wręczanie zaproszeń to dla nas ogromna przyjemność.<br \>Okazja do spotkania się i porozmawiania z osobami, które są dla nas ważne.</p>
          </div>
          <div class="bootstrap-pop-up">
            <h4>Majówka w Rzymie</h4>
            <p>Tegoroczną majówkę spędziliśmy w Rzymie! Pełne 8 dni relaksu. Stolica Włoch oferuje moc zabytków, wspaniałych kawiarni i niesamowitą atmosferę pozwalającą na refleksje zarówno historyczne, jak i duchowe. </p>
          </div>
          <div class="bootstrap-pop-up1">
            <%= image_tag "photos/tu fotka z rzymu.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us" id="about-us">
    <div class="container">
      <div class="col-md-6 testimonials-grid-right">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">
          <span>Panna Młoda</span>
        </h3>
        <h4 class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">Karolina</h4>
        <div class="wmuSlider animated wow slideInUp" data-wow-delay=".5s">
          <div class="wmuSliderWrapper">
            <article style="position: absolute; width: 100%; opacity: 0;">
              <div class="banner-wrap">
                <div class="testimonials-grid-left-grids">
                  <%= image_tag "photos/foka Karolina.JPG", class: "img-responsive" %>
                  <p>Niezwykle twórcza i pełna pomysłów. Uwielbia podróżować i aktywnie spędzać czas. Dla niej udany dzień to taki, w którym spróbowała lub nauczyła się czegoś nowego. Pracuje jako kierownik projektów, a zasady efektywności i dobrej organizacji wciela też w życiu codziennym. Przy niej nie da się nudzić!</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-md-6 testimonials-grid-right">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">
          <span>Pan Młody</span>
        </h3>
        <h4 class="testimonials-dummy animated wow slideInUp" data-wow-delay=".5s">Maciej</h4>
        <div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
          <div class="wmuSliderWrapper">
            <article style="position: absolute; width: 100%; opacity: 0;">
              <div class="banner-wrap">
                <div class="testimonials-grid-left-grids">
                  <%= image_tag "photos/fotka Maciej.JPG", class: "img-responsive" %>
                  <p>Miłośnik wody. Gdyby tylko mógł, cały dzień spędziłby nad jeziorem. Z małymi przerwami na trening na siłowni, którego prawie nigdy nie opuszcza.Z wykształcenia inżynier, z zawodu programista. Do pracy podchodzi z całkowitym zaangażowaniem i pasją. Przy nim czujesz się swobodnie!</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
  <div class="map" id="map-title">
    <div class="container">
      <h3 class="animated wow zoomIn"data-wow-delay=".5s">
        <span>Mapka</span>
      </h3>
      <div class="map-frame">
        <div id="map">
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer" id="footer">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#transport">Transport</a>
        </li>
        <li>
          <a data-toggle="tab" href="#nights">Noclegi</a>
        </li>
        <li>
          <a data-toggle="tab" href="#children">Dzieci na weselu</a>
        </li>
        <li>
          <a data-toggle="tab" href="#gifts">Upominki</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tour">Wycieczka po Toruniu</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="transport" class="tab-pane fade in active">
          <h3>Transport</h3>
          <p>Para Młoda zapewnia transport z kościoła na salę weselną oraz z sali weselnej do miejsc noclegowychBędziemy wdzięczni za informację o chęci skorzystania z transportu, tematem zajmuje się Wiktor Wiśniewski, brat Karoliny(721770939).</p>
        </div>
        <div id="nights" class="tab-pane fade">
          <h3>Noclegi</h3>
          <p>Para Młoda zapewnia nocleg po zabawie weselnej.Rozmieszczeniem gości w miejscach noclegowych zajmuje się Wiktor Wiśniewski, brat Karoliny(721770939).</p>
        </div>
        <div id="children" class="tab-pane fade">
          <h3>Dzieci na weselu</h3>
          <p>Podczas wesela zostanie zorganizowany kącik zabaw dla dzieci.Nad dziećmi będzie przez cały czas czuwała profesjonalna niania.</p>
        </div>
        <div id="gifts" class="tab-pane fade">
          <h3>Upominki</h3>
          <p>Najważniejsza dla nas jest Wasza obecność.Jeśli jednak zechcecie obdarować nas upominkiem rzeczowym, zachęcamy do kontaktu z nami lub z Wiktorem Wiśniewskim, bratem Karoliny(721770939).Dzięki temu zapobiegniemy powtórzeniom prezentów. Wiktor również podpowie, co może się nam przydać. </p>
        </div>
        <div id="tour" class="tab-pane fade">
          <h3>Wycieczka po Toruniu</h3>
          <p>Wiemy, że wielu z Was jest w Toruniu po raz pierwszy. Zarówno dla tych, którzy w Toruniu jeszcze nie byli, jak i dla tych, którzy mieszkają w nim od dzieciństwa, zorganizujemy wycieczkę po przepięknej starówce.Przed poprawinami certyfikowany toruński przewodnik oprowadzi wszystkich chętnych po starówce, opowie tajemnicze historie o mieście i wskaże główne zabytki.Serdecznie zapraszamy do skorzystania z tej okazji! Pamiętajcie o wygodnym obuwiu, bo toruńska kostka brukowa nie ma litości dla obcasów. :-)​</p>
        </div>
      </div>
    </div>
  </div>
  <!-- //footer -->
